<div class="container">
    <div class="info">
        <app-stars-info></app-stars-info>
    </div>
    <div class="search">
        <input (keyup)="findSwimmer($event)" placeholder="Search" class="searchInput" type="text"
            name="search">
    </div>
    <div class="cards">
        <app-kids-board *ngFor="let kid of filteredSwimmers" [stars]="kid.skills?.length" [imgName]="kid.img"
           [skills]="kid.skills" [KidName]="kid.name" [kidInfo]="kid.about" [age]='kid.age' [girlOrBoy]="kid.gender"></app-kids-board>
    </div>
</div>