<div class="container">
    <h2>How Starfishes are collected</h2>
    <div class="cont2">
        <div class="under5">
            <h3>4-6 years old kids</h3>
            <div class="rulesContainer">
                <div *ngFor="let rule of easySkills" class="rules kidsRules">
                    <div><app-star size="10px"></app-star></div>
                    <div class="kidsRule">{{rule}}</div>
                </div>
            </div>
        </div>
        <div class="sevenTo9">
            <h3>7-9 years old</h3>
            <div class="rulesContainer">
                <div *ngFor="let rule of middleSkills" class="rules">
                    <!-- <div><app-star size="12px"></app-star></div> -->
                    <div>  <img width="30px" src="../assets/images/stingray.png" alt=""></div>
                    <div class="rule">{{rule}}</div>
                </div>
            </div>
        </div>
        <div class="over10">
            <h3>10 years and older</h3>
            <div class="rulesContainer">
                <div *ngFor="let rule of highSkills" class="rules">
                    <!-- <div><app-star size="12px"></app-star></div> -->
                    <div class="rule">{{rule}}</div>
                </div>
            </div>
        </div>
    </div>
</div>