.header{
	position: relative;
	width: 100%;
	height: 62px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.expl {
    font-size: 10px;
    color: gray;
    cursor: pointer;
    width: 80px;
    position: relative;
    left: 10px;
}

.updated {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: rgb(150, 149, 149);
}

.right {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
   
.lang{
    cursor: pointer;
}

.headerTabs {
    position: relative;
    padding: 20px 20px;
    font-size: 19px;
    cursor: pointer;
}