<div id="card" class="card" (mouseleave)="mouseLeave()" (click)="toggle()">
    <div class="leftCard">
        <div [ngClass]="addHoverClassToLeft ? 'hover': ''" [ngStyle]="{'background-color':backgroundColor}" id="left"
            class="left">
            <div class="leftleft">
                <div>
                    <h2>{{KidName}}</h2>
                    <img width="100px" [src]="'../assets/images/' + imgName + '.jpg'" alt="">
                    <h3>{{age + ' years'}}</h3>
                </div>
            </div>
            <div [ngStyle]="{'background-color':backgroundColor}" class="right">
                <div *ngIf="age > 7" class="list">
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star color="red" size="8px"></app-star><p class="swimDesc">swims butterfly</p></div>
                </div>
                <div *ngIf="age <= 7" class="listForKids">
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                    <div class="skill"><app-star-kids color="red" size="8px"></app-star-kids><p class="swimDesc">swims butterfly</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightCard">
        <div class="rightCardContent">
            <div class="rightContainer">
                <div class="header1">
                    <h3>{{'Stars ' + stars + '/10'}}</h3>
                </div>
                <div *ngIf="age > 7" class="stars">
                    <app-star size="15px" *ngFor="let star of starsArray"></app-star>
                    <app-star-off size="15px" *ngFor="let star of starsOffArray"></app-star-off>
                </div>
                <div *ngIf="age <= 7"  class="starsForKids">
                    <app-star-kids size="10px" *ngFor="let star of starsArray"></app-star-kids>
                    <app-star-off-kids size="10px" *ngFor="let star of starsOffArray"></app-star-off-kids>
                </div>
                <div class="kidInfo">{{kidInfo}}</div>
            </div>
        </div>
        <div class="moreInfo">Click to see more info...</div>
    </div>
</div>