<div id="card" class="card" (mouseleave)="mouseLeave()" (click)="toggle()">
    <div class="leftCard">
        <div [ngClass]="addHoverClassToLeft ? 'hover': ''" [ngStyle]="{'background-color':backgroundColor}" id="left" class="left">
            <div class="leftleft">
                <div>
                    <h2>{{KidName}}</h2>
                    <img width="100px" [src]="'../assets/images/' + imgName + '.jpg'" alt="">
                    <h3>{{HeaderBelow}}</h3>
                </div>
            </div>
            <div [ngStyle]="{'background-color':backgroundColor}"  class="right">
                <h1>asfsa</h1>
            </div>
        </div>
    </div>
    <div class="rightCard">
        <div class="rightCardContent">
            <div class="rightContainer">
                <div class="header1"><h3>{{'Stars ' + stars + '/10'}}</h3></div>
                <div class="stars">
                    <app-star *ngFor="let star of starsArray"></app-star>
                    <app-star-off *ngFor="let star of starsOffArray"></app-star-off>
                </div>
                <div class="kidInfo">{{kidInfo}}</div>
                <div class="moreInfo">Click to see more info...</div>
            </div>
        </div>
    </div>
</div>