<div id="card" class="card" (click)="toggle()">
    <div class="leftCard">
        <div [ngClass]="addHoverClassToLeft ? 'hover': ''" [ngStyle]="{'background-color':backgroundColor}" id="left"
            class="left">
            <div class="leftleft">
                <div>
                    <h2>{{KidName}}</h2>
                    <img width="100px" [src]="'../assets/images/' + imgName" alt="">
                    <h3 >{{age + ' '}}{{'YEARS' | translate : lang}}</h3>
                </div>
            </div>
            <div [ngStyle]="{'background-color':backgroundColor}" class="right">
                <div *ngIf="age > 9" class="fontSizeSmall list">
                    <div *ngFor="let skill of skills" class="skill"><div><img width="23px" src="../assets/images/pearl.png" alt=""></div><p class="swimDesc">{{skill | translate : lang}}</p></div>
                </div>
                <div *ngIf="age > 6 && age < 10" class="fontSizeSmall list">
                    <div *ngFor="let skill of skills" class="skill"><div><img width="19px" src="../assets/images/shell10.png" alt=""></div><p class="swimDesc">{{skill | translate : lang}}</p></div>
                </div>
                <div *ngIf="age <= 6" class="fontSizeSmall listForKids">
                    <div *ngFor="let skill of skills" class="skill"><div><img width="20px" src="../assets/images/seastar.png" alt=""></div><p class="swimDesc">{{skill | translate : lang}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightCard">
        <div class="rightCardContent">
            <div class="rightContainer">
                <div class="header1">
                    <h3 class="grades" *ngIf="age > 9">{{'PEARLS' | translate : lang}}{{' ' + stars + '/10'}}</h3>
                    <h3 class="grades" *ngIf="age > 6 && age < 10">{{'SEASHELLS' | translate : lang}}{{' ' + stars + '/10'}}</h3>
                    <h3 class="grades" *ngIf="age <= 6">{{'STARFISH' | translate : lang}}{{' ' + stars + '/10'}}</h3>
                </div>
                <div *ngIf="age > 9" class="stars">
                    <div *ngFor="let skill of skills"><img width="33px" src="../assets/images/pearl.png" alt=""></div>
                    <div *ngFor="let off of starsOffArray" [ngStyle]="{'opacity':'0.25'}"><img width="33px" src="../assets/images/pearl.png" alt=""></div>
                </div>
                <div *ngIf="age > 6 && age < 10" class="stars">
                    <div *ngFor="let skill of skills"><img width="27px" src="../assets/images/shell10.png" alt=""></div>
                    <div *ngFor="let off of starsOffArray"  [ngStyle]="{'opacity':'0.25'}"><img width="27px" src="../assets/images/shell10.png" alt=""></div>
                </div>
                <div *ngIf="age <= 6"  class="starsForKids">
                    <div *ngFor="let skill of skills"><img width="27px" src="../assets/images/seastar.png" alt=""></div>
                    <div *ngFor="let off of starsOffArray"  [ngStyle]="{'opacity':'0.25'}"><img width="27px" src="../assets/images/seastar.png" alt=""></div>
                </div>
                <div class="kidInfo">{{kidInfo}}</div>
            </div>
        </div>
        <div class="moreInfo">{{'MORE.INFO' | translate : lang}}</div>
    </div>
</div>